// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.custom.custom-xiaohongshu {
  display: inline-block;
  width: 0.95em;
  height: 0.95em;
  background-color: #FF2442;
  background-image: url("/icons/xiaohongshu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.25em;
}